{% extends "base.html" %}

{% block page_content %}

    <div class="body bit-1">
        <div class="db-data">
            <div class="page-header">
                <h1>Hello, {% if current_user.is_authenticated() %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
            </div>
        </div>
        <div class="sql-action">
            <p id="sql-title">Qualify someone!</p>
            <button type="button" id="sql-button">Click here to qualify</button>
            <a href="{{url_for('main.new_sql', username=current_user.username)}}" style="display:none" id="sql-button-link"></a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function(){
        function newSQL(){
            console.log("NEW SQL!");
            var response = $.post($("#sql-button-link").attr('href'),{test: "check_test"});
            console.log(response["responseText"]);
            $("#sql-title").text(response.responseText);
        }
        $(document).on("click", "#sql-button", newSQL);
    });
</script>
{% endblock %}
